In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("./12_2_data/partner_data.xlsx", sheet_name='partner_data1', header=0)
df

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,NaN,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [4]:
df.shape

(1000, 9)

In [5]:
df.columns

Index(['id', 'age', 'job', 'marital', 'education', 'balance', 'housing',
       'loan', 'default'],
      dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
df = pd.read_excel("./12_2_data/partner_data.xlsx", sheet_name='partner_data1', header=0, index_col='id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

In [8]:
df.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
      dtype='int64', name='id', length=1000)

In [11]:
df.head(10)

     age          job   marital  education  balance housing loan default
id
1   26.0   unemployed   married   tertiary      454     yes  yes      no
2   25.0   technician   married  secondary      517      no   no      no
3   36.0   technician    single  secondary     1044     yes   no      no
4   45.0  blue-collar   married  secondary      146     yes  yes      no
5   27.0   management   married   tertiary      145      no   no      no
6   45.0   unemployed  divorced    primary       11      no   no     yes
7   35.0   management   married   tertiary      298     yes   no      no
8   27.0   technician    single  secondary      905     yes  yes      no
9    NaN   management   married   tertiary     -485     yes   no     yes
10  32.0   unemployed   married  secondary       10     yes   no      no

In [12]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool' = False, date_parser=<no_default>, date_format: 'str | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True in addition to case-insensitive variants of "True".
    false_values : list, optional
        Values to consider as False in addition to case-insensitive variants of "False".
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional, default "utf-8"
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point

In [15]:
df = pd.read_csv('./12_2_data/partner_data.csv', index_col='id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

In [17]:
df.iloc[:, 0]

id
1       26.0
2       25.0
3       36.0
4       45.0
5       27.0
        ...
996     41.0
997     58.0
998     31.0
999     31.0
1000    23.0
Name: age, Length: 1000, dtype: float64

In [18]:
df.loc[:, 'age']

id
1       26.0
2       25.0
3       36.0
4       45.0
5       27.0
        ...
996     41.0
997     58.0
998     31.0
999     31.0
1000    23.0
Name: age, Length: 1000, dtype: float64

In [19]:
df.loc[2, :]

age                25.0
job          technician
marital         married
education     secondary
balance             517
housing              no
loan                 no
default              no
Name: 2, dtype: object

In [20]:
df.loc[5:6, 'marital':'education']

     marital education
id
5    married  tertiary
6   divorced   primary

In [23]:
df.loc[[5,6], ['marital','default']]

     marital default
id
5    married      no
6   divorced     yes

In [24]:
df[['age', 'default']]

       age default
id
1     26.0      no
2     25.0      no
3     36.0      no
4     45.0      no
5     27.0      no
...    ...     ...
996   41.0      no
997   58.0      no
998   31.0      no
999   31.0      no
1000  23.0      no

[1000 rows x 2 columns]

In [1]:
import pandas as pd
import json

with open('./12_3_data/partner_data_records.json', 'r') as j:
    contents = json.load(j)
contents

[{'id': 1,
  'age': 26.0,
  'job': 'unemployed',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 454,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 2,
  'age': 25.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 517,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 3,
  'age': 36.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1044,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 4,
  'age': 45.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 146,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 5,
  'age': 27.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 145,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 6,
  'age': 45.0,
  'job': 'unemployed',
  'marital': 'divorced',
  'education': 'primary',
  'balance': 11,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 7,
  'age': 35.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 298,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 8,
  'age': 27.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 905,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 9,
  'age': None,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': -485,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 10,
  'age': 32.0,
  'job': 'unemployed',
  'marital': 'married',
  'education': 'secondary',
  'balance': 10,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 11,
  'age': 46.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 78,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 12,
  'age': 53.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 13,
  'age': 32.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 223,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 14,
  'age': 34.0,
  'job': 'student',
  'marital': None,
  'education': 'tertiary',
  'balance': 387,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 15,
  'age': 58.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 96,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 16,
  'age': 77.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 17,
  'age': 31.0,
  'job': 'blue-collar',
  'marital': 'single',
  'education': 'secondary',
  'balance': -161,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 18,
  'age': 47.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 3630,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 19,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 302,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 20,
  'age': 47.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1452,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 21,
  'age': 32.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 1651,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 22,
  'age': 31.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 84,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 23,
  'age': 30.0,
  'job': 'management',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2143,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 24,
  'age': 31.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 682,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 25,
  'age': 59.0,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 337,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 26,
  'age': 23.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 4545,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 27,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1698,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 28,
  'age': 39.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1367,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 29,
  'age': 57.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'primary',
  'balance': 3109,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 30,
  'age': 56.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 480,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 31,
  'age': 44.0,
  'job': 'services',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3536,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 32,
  'age': None,
  'job': 'housemaid',
  'marital': 'single',
  'education': 'secondary',
  'balance': 781,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 33,
  'age': 75.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'secondary',
  'balance': 291,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 34,
  'age': 27.0,
  'job': 'blue-collar',
  'marital': 'single',
  'education': 'secondary',
  'balance': 3145,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 35,
  'age': 45.0,
  'job': 'services',
  'marital': 'married',
  'education': 'secondary',
  'balance': -75,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 36,
  'age': 35.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1035,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 37,
  'age': 36.0,
  'job': 'services',
  'marital': None,
  'education': 'secondary',
  'balance': 981,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 38,
  'age': 55.0,
  'job': 'management',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 552,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 39,
  'age': 54.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 465,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 40,
  'age': 45.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'unknown',
  'balance': 886,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 41,
  'age': 56.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'primary',
  'balance': -464,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 42,
  'age': 57.0,
  'job': 'retired',
  'marital': None,
  'education': 'tertiary',
  'balance': 34,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 43,
  'age': None,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': -74,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 44,
  'age': 53.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1777,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 45,
  'age': 30.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1395,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 46,
  'age': 36.0,
  'job': 'management',
  'marital': 'married',
  'education': 'secondary',
  'balance': -148,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 47,
  'age': 73.0,
  'job': 'retired',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 1843,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 48,
  'age': 33.0,
  'job': 'unknown',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1522,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 49,
  'age': 51.0,
  'job': 'blue-collar',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 257,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 50,
  'age': None,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'primary',
  'balance': 1327,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 51,
  'age': 37.0,
  'job': 'housemaid',
  'marital': 'married',
  'education': 'primary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 52,
  'age': 39.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 497,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 53,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 902,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 54,
  'age': 44.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1311,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 55,
  'age': 46.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 1596,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 56,
  'age': 43.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 2767,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 57,
  'age': 25.0,
  'job': 'entrepreneur',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 58,
  'age': 46.0,
  'job': 'admin.',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 984,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 59,
  'age': 28.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 84,
  'housing': 'no',
  'loan': 'yes',
  'default': 'yes'},
 {'id': 60,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'unknown',
  'balance': 231,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 61,
  'age': 26.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3730,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 62,
  'age': 53.0,
  'job': 'retired',
  'marital': None,
  'education': 'secondary',
  'balance': 1139,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 63,
  'age': 42.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 388,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 64,
  'age': 35.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 485,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 65,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 363,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 66,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -313,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 67,
  'age': 33.0,
  'job': 'entrepreneur',
  'marital': 'single',
  'education': 'secondary',
  'balance': 278,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 68,
  'age': 41.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -204,
  'housing': 'yes',
  'loan': 'no',
  'default': 'yes'},
 {'id': 69,
  'age': 30.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 2931,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 70,
  'age': 32.0,
  'job': 'management',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 71,
  'age': 40.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2244,
  'housing': 'no',
  'loan': 'yes',
  'default': 'no'},
 {'id': 72,
  'age': 42.0,
  'job': 'services',
  'marital': 'married',
  'education': 'primary',
  'balance': 5879,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 73,
  'age': 41.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 871,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 74,
  'age': 40.0,
  'job': 'admin.',
  'marital': None,
  'education': 'secondary',
  'balance': 35,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 75,
  'age': None,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 757,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 76,
  'age': 63.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 115,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 77,
  'age': 39.0,
  'job': 'management',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 51,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 78,
  'age': 36.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 580,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 79,
  'age': 43.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 4923,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 80,
  'age': 25.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 3730,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 81,
  'age': 40.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': -605,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 82,
  'age': 32.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 34,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 83,
  'age': 54.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 2237,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 84,
  'age': 53.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 285,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 85,
  'age': 41.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': -120,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 86,
  'age': 54.0,
  'job': 'technician',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': -291,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 87,
  'age': 45.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 31472,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 88,
  'age': 33.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 529,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 89,
  'age': None,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 35,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 90,
  'age': 31.0,
  'job': 'admin.',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1340,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 91,
  'age': 40.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 149,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 92,
  'age': 33.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 5235,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 93,
  'age': 49.0,
  'job': 'technician',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3466,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 94,
  'age': 39.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 575,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 95,
  'age': 46.0,
  'job': 'services',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 348,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 96,
  'age': 28.0,
  'job': 'student',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 1096,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 97,
  'age': 30.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 1646,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 98,
  'age': 59.0,
  'job': 'retired',
  'marital': 'divorced',
  'education': 'secondary',
  'balance': 1,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 99,
  'age': 24.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 77,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 100,
  'age': 28.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 101,
  'age': None,
  'job': 'blue-collar',
  'marital': None,
  'education': 'primary',
  'balance': 676,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 102,
  'age': 23.0,
  'job': 'student',
  'marital': 'single',
  'education': 'secondary',
  'balance': 556,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 103,
  'age': 56.0,
  'job': 'management',
  'marital': 'married',
  'education': 'secondary',
  'balance': 3164,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 104,
  'age': 53.0,
  'job': 'admin.',
  'marital': 'married',
  'education': 'secondary',
  'balance': 257,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 105,
  'age': 59.0,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'primary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'yes'},
 {'id': 106,
  'age': 31.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'secondary',
  'balance': 0,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 107,
  'age': 27.0,
  'job': 'blue-collar',
  'marital': None,
  'education': 'secondary',
  'balance': 5854,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 108,
  'age': 32.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 1168,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 109,
  'age': 39.0,
  'job': 'housemaid',
  'marital': 'married',
  'education': 'secondary',
  'balance': 1029,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 110,
  'age': None,
  'job': 'blue-collar',
  'marital': 'married',
  'education': 'secondary',
  'balance': 685,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 111,
  'age': 33.0,
  'job': 'technician',
  'marital': 'single',
  'education': 'tertiary',
  'balance': 2565,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 112,
  'age': 33.0,
  'job': 'management',
  'marital': 'married',
  'education': 'tertiary',
  'balance': 5878,
  'housing': 'no',
  'loan': 'no',
  'default': 'no'},
 {'id': 113,
  'age': 52.0,
  'job': 'admin.',
  'marital': 'divorced',
  'education': 'tertiary',
  'balance': 0,
  'housing': 'yes',
  'loan': 'yes',
  'default': 'no'},
 {'id': 114,
  'age': 36.0,
  'job': 'services',
  'marital': 'single',
  'education': 'secondary',
  'balance': 590,
  'housing': 'yes',
  'loan': 'no',
  'default': 'no'},
 {'id': 115,
  'age': 40.0,
  'job': 'admin.',
  'marital': None,
  'education': 'secondary',
  'balance': 1538,
  'housing': 'yes',

In [2]:
len(contents)

1000

In [3]:
df = pd.read_json('./12_3_data/partner_data_records.json')
df

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,None,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [5]:
df.set_index('id', inplace=True)
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur     None   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]